PORT=3000
MONGODB_URI=mongodb://localhost:27017/payment_withdrawal
REDIS_URL=redis://localhost:6379
NODE_ENV=development

# In case just use
# MONGODB_URI=mongodb+srv://dev:Brijesh123@cluster0.3tbnjt2.mongodb.net/payment_withdrawal
# REDIS_URL=rediss://default:gQAAAAAAAS08AAIncDE1ZjQ5Mzc2M2RhOTA0NTRhOTE4YjJjNjQzNzBkMGQ2Y3AxNzcxMTY@related-krill-77116.upstash.io:6379
